.SideBar{
    width: 5vw;
    height: 90vh;
    /* background: rgb(12, 12, 14 , 0.2);  */
    background: rgb(12, 12, 14 , 0.5); 
    backdrop-filter: blur(15px);
    color: #DDD;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition:  all 0.3s ease;
    border-radius: 15px;
    margin-right: 1vw;
    position: fixed;
    left: 1.5vw;
    top: 1;
}
.SideBar-Logo{
    width: 100%;
    text-align: center;
    /* background: #6d6db1; */
    height: 15vh;
}
.SideBar-Logo img{
    translate: 0 3vh;
    width: 60%;
}


.SideBar-Links{
    width: 5vw;
    height: auto;
    
    animation-duration: 0.5s;
}


.SideBarLink > a{
    translate: 6vw;
    display: none!important;
}


