.UpperBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94vw;
    height: 15vh;
    color: #DDD;
  }
  
  .UpperBarSettings {
    width: 15vw;
    height: 15vh;
    display: flex;
    align-items: center;
  }
  
  .UpperBarSettings > div {
    margin-right: 10px;
  }
  
  .UpperBarSettingsIcon {
    width: 6vw;
    height: 15vh;
  }
  
  .UpperBarSettingsIcon img {
    width: 4.5vw;
    border-radius: 100px;
    transform: translateY(2vh);
  }
  
  .UpperBarSettingsText {
    width: 9vw;
  }
  
  .UpperBarSettingsText a,
  .UpperBarSettingsText p {
    margin-left: 1vw;
    width: 9vw;
    display: inline-block;
    color: #DDD;
  }
  
  .UpperBarSettingsText p {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .UpperBarSettingsText a {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
  }

  .UpperBarMenu{
    width: 5%;
    text-align: center;
  }

  .MenuIconComponentIconSVG{
    cursor: pointer;
  }