.PagesContainer{
  /* backdrop-filter: blur(15px); */
  width: 90vw;
  height: 100vh;
  transition:  all 0.3s ease;
  color: #DDD;
  margin-left: 5vw;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(18, 18, 22 , 0.7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(26, 26, 26 , 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85, 0.7);
}


#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.BannerAlert{
  width: 100vw;
  height: 100vh;
  background-color: rgb(141, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}